.row {
  margin-right: -12px;
  margin-left: -12px;
  @media (max-width: 991px) {
    padding-left: 5px;
    padding-right: 5px;
  }
  > * {
    padding-left: 15px;
    padding-right: 15px;
  }
}