// Global spacing classes
.has-spacing-bottom {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: $blue-lightest;
  }
  &-small {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
  }
  &--offset {
    &:before {
      left: 0.75rem;
      right: 0.75rem;
    }
  }
  @media (min-width: 576px) {
    &:before {
      left: 50%;
      transform: translateX(-50%);
      max-width: 520px;
      width: 100%;
    }
  }
  @media (min-width: 768px) {
    &:before {
      left: 50%;
      transform: translateX(-50%);
      max-width: 700px;
    }
  }
  @media (min-width: 992px) {
    padding-bottom: 0;
    &:before {
      display: none;
    }
  }
}

// Adds border bottom
.sfn-border-bottom {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $blue-lightest;
  @media (min-width: 992px) {
    margin-bottom: 2rem;
    padding-bottom: 2rem;
  }
  &--small {
    margin-bottom: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

// Row offset
.sfn-row-offset {
  margin: 2.5em 0;
  > div {
    + div {
      margin-top: 1.5em;
    }
  }
  @media (min-width: 1201px) {
    display: flex;
    position: relative;
    min-height: 403px;
    // flex-wrap: wrap;
    > div {
      + div {
        margin-top: 0;
      }
      &:nth-child(1) {
        width: 450px;
        position: absolute;
        left: -260px;
      }
      &:nth-child(2) {
        padding-left: 235px;
      }
    }
  }
}