

$grey: #999;
$grey2: #959595;
$grey-medium: #eee;
$grey-medium2 : #eaeaea;
$grey-mid: #666;
$grey-mid2: #555;
$grey-light-mid: #ccc;
$grey-light: #ddd;
$grey-lightest: #f7f7f7;
$black: #333;

$primary: #438CD1;
$blue-dark: #004A90;
$blue-medium: #88C0F5;
$blue-light: #EDF6FF;
$blue-lightest: #C6E2FD;