.sfn-article {
  @media (min-width: 1201px) {
    padding-right: 1em;
    padding-left: 1em;
  }
  &__meta {
    margin-bottom: 1.25em;
  }

  &__heading {
    margin-bottom: 0.75em;
    h1 {
      margin-bottom: 0 !important;
    }
  }

  &__featured-image {
    margin-bottom: 1.5em;
  }

  &__subheading {
    padding-bottom: 1em;
    h3 {
      font-weight: 400;
      color: $black;
      font-style: italic;
      line-height: 1.5em;
    }
  }

  &__info-box {
    margin-bottom: 2em;
  }
}

// Article meta
.sfn-article-meta {
  &-inner {
    > h6 {
      font-size: 12px;
      font-family: 'Poppins', sans-serif;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      margin: 0 0 1em 0;
    }
    + .sfn-article-meta-inner {
      margin-top: 1.25em;
      padding-top: 1.25em;
      border-top: 1px solid $grey-medium;
    }
  }

  &-user {
    display: flex;
    align-items: center;
    > img {
      width: 50px;
      border-radius: 50%;
    } 
    > div {
      width: calc(100% - 50px);
      padding-left: 0.75em;
      h5 {
        font-size: 16px;
        font-weight: normal;
        margin: 0;
        a {
          text-decoration: none;
        }
      }
      > h6 {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
        font-style: italic;
        font-weight: 300;
        color: $grey-mid;
        margin: 0;
      }
    } 
  }

  &-tags {
    display: flex;
    flex-wrap: wrap;
    margin: -4px;
    a {
      margin: 4px;
      display: block;
      background: transparent;
    }
  }

  @media (max-width:1199px) and (min-width:992px) {
   &-user {
     display: block;
     > div {
       width: 100%;
       padding-left: 0;
       padding-top: 0.5em;
     }
   }
  }
}

// Article social
.sfn-article-social {
  padding: 1rem 0;
  border-top: 1px solid $blue-lightest;
  border-bottom: 1px solid $blue-lightest;
  @media (min-width: 992px) {
    padding: 0;
    border-top: none;
    border-bottom: none;
  }
  > div {
    display: flex;
    align-items: flex-start;
    + div {
      margin-top: 1.25em;
      padding-top: 1.25em;
      border-top: 1px solid $blue-lightest;
    }
    > img {
      width: 30px;
      @media (min-width: 992px) {
        width: 44px;
      }
    }
    > div {
      width: calc(100% - 44px);
      padding-left: 0.75em;
      justify-content: space-between;
      @media (min-width: 992px) {
        justify-content: flex-start;
      }
      > h6 {
        margin-bottom: 0;
        font-size: 20px;
        @media (min-width: 992px) {
          font-size: 16px;
        }
      }
    }
    @media (min-width:992px) and (max-width:1199px) {
      display: block;
      + div {
        margin-top: 1em;
        padding-top: 1em;
      }
      > img {
        margin-bottom: 0.5em;
      }
      > div {
        width: 100%;
        padding-left: 0;
        > h6 {
          margin-bottom: 0.25em;
        }
      }
    }
  }
  &-media {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      justify-content: flex-start;
      img {
        width: 30px;
        @media (min-width: 992px) {
          width: 20px;
        }
      }
    }
    > div {
      display: flex;
      align-items: center;
      > h6 {
        margin-right: 0.5em;
        position: relative;
        top: 3px;
        @media (min-width: 992px) {
          top: 0;
        }
      }
      @media (min-width: 992px) {
        display: block;
        margin-right: 0;
      }
    }
  }

  &-newsletter {
    > div {
      > h6 {
        margin-bottom: 0.35rem !important;
      }
    }
  }
}

// Sidebar
.sfn-sidebar-fixed {
  @media (min-width: 992px) {
    position: relative;
    &-container {
      padding-top: 635px;
    }
  }
  &--contain {
    overflow-y: hidden;
  }
}

.sfn-article-bottom {
  position: relative;
  z-index: 2;
  background: white;
  padding-top: 1rem;
}

// Fix headings offset
.article-page {
  .sfn-article__content {
    h1, h2 {
      margin-bottom: 1em;
    }
    h3, h4, h5, h6 {
      margin-bottom: 1em;
    }
    p {
      margin-bottom: 2rem;
    }
  }

  .sfn-banner {
    margin: 2em 0;
  }
}