.sfn-breadcrumbs {
  display: flex;
  justify-content: center;
}

.breadcrumb {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  &-holder {
    justify-content: center;
    display: flex;
  }
  .breadcrumb-item {
    font-size: 12px;
    +.breadcrumb-item {
      margin-right: 0.75rem;
      &:before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 10px;
        background-image: url('../assets/images/icons/chevron-right-light-blue.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 6px;
        margin-right: 0.75rem;
        position: relative;
        top: 3px;
      }
    }
    a {
      text-decoration: none;
    }
  }
}