.btn {
  font-family: 'Poppins', sans-serif;
  &-has-icon-left {
    display: flex;
    align-items: center;
    i,
    img {
      font-size: 14px;
      margin-right: 1rem;
      @media (min-width: 992px) {
        margin-right: 0.5rem;
      }
    }
  }
  &-has-icon-right {
    display: flex;
    align-items: center;
    i,
    img {
      font-size: 14px;
      margin-left: 1rem;
      @media (min-width: 992px) {
        margin-left: 1rem;
      }
    }
  }
}

.btn {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.65rem 0.85rem;
  &.btn-primary {
    border: none;
    background: $primary;
    color: white;
    &:hover {
      background: darken($primary, 5%);
      border-color: darken($primary, 5%);
    }
    &:focus {
      background: darken($primary, 15%);
      border-color: darken($primary, 15%);
    }
  }

  &.btn-outline-primary {
    border-color: $blue-light;
    background: white;
    color: $primary;
    &:hover {
      background: lighten($primary, 44%);
      border-color: darken($blue-light, 15%);
      color: $primary;
    }
    &:focus {
      background: lighten($primary, 38%);
    }
  }

  &-light {
    background: white;
    border-color: $blue-light;
  }

  &-outline-light {
    background: rgba(255,255,255,0.15);
    border-color: white;
    color: white;
    &:hover {
      background: rgba(255,255,255,0.25);
      color: white;
    }
  }
}



.center-button {
  display: flex;
  justify-content: center;
  @media(min-width: 992px) {
    display: block;
  }
  @media(max-width: 991px) {
    a {
      width: 100%;
      text-align: center;
      justify-content: center;
    }
  }
}