.btn {
  &-has-icon-left {
    display: flex;
    align-items: center;
    i,
    img {
      font-size: 14px;
      margin-right: 0.5rem;
    }
  }
  &-has-icon-right {
    display: flex;
    align-items: center;
    i,
    img {
      font-size: 14px;
      margin-left: 0.5rem;
    }
  }
}

.btn {
  border-radius: 0px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.65rem 0.85rem;
  &.btn-primary {
    color: $primary;
    background: $primary;
    color: white;
    &:hover {
      background: darken($primary, 5%);
      border-color: darken($primary, 5%);
    }
    &:focus {
      background: darken($primary, 15%);
      border-color: darken($primary, 15%);
    }
  }
  &.btn-outline-primary {
    background: transparent;
    border-color: $blue-lightest;
    color: $primary;
    transition: color .2s ease-in-out, border-color .2s ease-in-out, background .2s ease-in-out;
    &:hover {
      color: $primary;
      background: $primary;
      color: white;
    }
    &:focus {
      background: $grey-medium;
    }
  }
}


.center-button {
  display: flex;
  justify-content: center;
  @media(min-width: 992px) {
    display: block;
  }
}