.sfn-element {
  &__read-more {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    a {
      color: $primary;
      text-decoration: none;
      position: relative; 
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
    img {
      margin-left: 7px;
    }
  }
}

.sfn-blockquote {
  padding: 6em 2.5em 2.5em 2.5em;
  border: 1px solid $blue-lightest;
  background-image: url('../assets/images/icons/open-quotes-icon.svg');
  background-size: 54px auto;
  background-repeat: no-repeat;
  background-position: 11% 7%;
  background-color: white;
  z-index: 2;
  blockquote {
    font-size: 24px;
    font-style: italic;
    color: $black;
    font-weight: 300;
    line-height: 1.3em;
    margin-bottom: 1.5em;
  }
  &__info {
    h5 {
      font-size: 18px;
      color: $black;
      margin-bottom: 0.15em;
    }
    h6 {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 300;
      font-style: italic;
      color: $grey-mid;
    }
  }
}