.sfn-element {
  &__read-more {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    a {
      color: $primary;
      text-decoration: none;
      position: relative; 
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 0.8;
      }
    }
    img {
      margin-left: 7px;
    }
  }
}