.sfn-event-box {
  position: relative;
  &--holder {
    .sfn-event-box {
      margin-bottom: 20px;
      @media (min-width: 992px) {
        margin-bottom: 30px;
      }
    }
  }
  &__date {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: $black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
    > h2 {
      margin: 0 0 0 0;
      color: white;
      font-size: 22px;
      font-weight: 400;
      line-height: 0.9em;
      margin-top: 0.25rem;
      font-family: 'Poppins', sans-serif;
    }
    > span {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  &__image {
    height: 0;
    padding-bottom: 52%;
    position: relative;
    overflow: hidden;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      background: #438cd1;
      background: -webkit-gradient(linear, left bottom, left top, from(#438cd1), to(rgba(67, 140, 209, 0.075)));
      background: linear-gradient(0deg, #438cd1 0%, rgba(67, 140, 209, 0.075) 100%);
      z-index: 1;
    }
    img {
      width: 100%;
    }
    @media (min-width: 992px) {
      padding-bottom: 84%;
    }
  }

  &__content {
    z-index: 3;
    position: absolute;
    bottom: 1.25rem;
    left: 1.25rem;
    right: 1.25rem;
    > .sfn-meta__location {
      margin-bottom: 0.5em;
      a {
        color: white;
      }
    }
    > h2,
    > h4 {
      margin-bottom: 0;
      a {
        color: white;
        text-decoration: none;
      }
    }
  }

  @media (min-width: 992px) {
    &--def {
      .sfn-event-box__image {
        position: relative;
        padding-bottom: 53%;
        margin-bottom: 1em;
        &:before {
          display: none;
        }
      }
      .sfn-event-box__content {
        position: static;
        > .sfn-meta__location {
          a {
            color: $grey-mid;
          }
        }
        > h2,
        > h4 {
          a {
            color: $black;
            transition: color .3s ease;
            &:hover {
              color: $primary;
            }
          }
        }
        > h4 {
          font-size: 26px;
        }
      }
    }
  }
}

.sfn-events__holder {
  .sfn-event-box {
    margin-bottom: 25px;
    @media (min-width: 992px) {
      margin-bottom: 40px;
    }
  }
}