// Header wrapper
.sfn-header {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $blue-lightest;
  @media (min-width: 992px) {
    margin-bottom: 1em;
    border-bottom: none;
  }
  .toggle-button {
      margin-right: 15px;
      transform: scale(0.8);
  }

  .logo {
      &-holder {
          display: flex;
          align-items: center;
      }
  }

  &-top-links {
    nav {
      font-family: 'Poppins', sans-serif;
      ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          + li {
            @media (min-width: 992px) {
              margin-left: 1.7rem;
            }
          }
          &:not(:last-child) {
            a {
              color: $black;
              font-size: 14px;
              font-weight: 500;
              transition: color .2s ease;
              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }
  }
}

// Logo and action buttons
.sfn-header-main {
  @media (min-width: 992px) {
    margin-bottom: 16px;
  }
}

// Main navigation
.sfn-header-nav {
  position: static;
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
  &__holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $blue-light;
    border-top: 1px solid $blue-lightest;
    border-bottom: 1px solid $blue-lightest;
  }
  &__inner {
    > ul {
      > li {
        > a {
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            position: relative;
            padding: 1rem 1.75rem;
            display: block;
            color: $blue-dark;
            font-size: 15px;
            font-weight: 600;
            text-decoration: none;
            transition: background .3s ease-in-out;
            &:before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              height: 3px;
              background: $primary;
              opacity: 0;
              transition: opacity 0.3s ease-in-out;
            }
            &:hover,
            &.active {
              background: darken($blue-light, 5%);
              &:before {
                opacity: 1;
              }
            }
        }
      }
    }
  }
}

// Main sub-navigation
.sfn-header-submenu {
  font-family: 'Poppins', sans-serif;
  display: none;
  @media (min-width: 992px) {
    display: block;
  }
  nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      margin: 0;
      padding: 0;
      li {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        font-weight: 600;
        position: relative;
        + li {
          margin-left: 1.5em;
          padding-left: 1.5em;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            height: 15px;
            width: 1px;
            background: $blue-lightest;
          }
        }
        a {
          text-decoration: none;
          color: $primary;
          transition: color .3s ease-in-out;
          &:hover {
            color: darken($primary, 30%);
          }
        }
      }
    }
  }

  > .container {
    padding-top: 1rem;
  }
}


// Sliding navigation (Mobile)
.sfn-header-slide {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  overflow-y: auto;
  height: 100%;
  left: -100%;
  transition: left .3s ease;
  background: #eee;
  &.open {
    left: 0;
  }

  // Top
  &__top {
    padding: 1.25rem;
    background: white;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:  1px solid $blue-lightest;
  }

  &__left {
    display: flex;
  }

  &__close {
    position: relative;
    top: 2px;
    margin-right: 0.75rem;
    cursor: pointer;
  }

  &__logo {
    img {
      width: 80px;
    }
  }


  // Search
  &__search {
    background: white;
    padding: 1.25rem;
    border-bottom:  1px solid $blue-lightest;
    .searchbar {
      padding: 0;
    }
  }

  // Nav
  &__nav {
    border-bottom: 1px solid $blue-lightest;
    > nav {
      font-family: 'Poppins', sans-serif;
      padding: 0;
      > ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 100%;
        > li {
          line-height: unset;
          + li {
            border-top: 1px solid $blue-lightest;
          }
          > a {
            display: block;
            padding: 1rem 1.25rem;
            background-color: #fff;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
            color: $primary;
          }
        }
        .dropdown {
          // &-toggle {}
          &-menu {
            width: 100%;
            background: none;
            border: none;
            border-radius: 0;
            padding: 0.75rem 0;
            margin: 0;
            background: $blue-light;
            > li {
              > a {
                // padding 32px 15 between
                display: block;
                background: $blue-light;
                color: $primary;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: 0.25em;
                text-transform: uppercase;
                text-decoration: none;
                padding: 0.75rem 2rem;
              } 
            }
          }
        }
      }
    }
  }

  // Info
  &__info {
    padding: 1.125rem 0;
    background: white;
  }
}




// Header simplified (HUB Page)
.sfn-header-simplified {
  &__top {
    padding: 1.5rem 0;
  }

  &__logo {
    img {
      width: 70px;
      @media (min-width: 768px) {
        width: 213px;
        margin: 0 auto;
      }
    }
  }

  &__links {
    display: flex;
    font-family: 'Poppins', sans-serif;
    @media (min-width: 768px) {
      justify-content: flex-end;
    }
     nav {
       ul {
         list-style-type: none;
         padding: 0;
         margin: 0;
         display: flex;
         align-items: center;
         li {
           display: flex;
           + li {
              margin-left: 1rem;
              @media (min-width: 768px) {
              margin-left: 2rem;
              }
           }
           a {
            color: $black;
            font-size: 13px;
            font-weight: 500;
            transition: color .2s ease;
            @media (min-width: 768px) {
              font-size: 14px;
             }
           }
         }
       }
     }
  }

  &__nav {
    &-inner {
      padding: 1rem 0;
      background: $blue-light; 
    }
    nav {
      font-family: 'Poppins', sans-serif;
      display: flex;
      justify-content: center;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        li {
          display: flex;
          + li {
            margin-left: 0.5rem;
            @media (min-width: 992px) {
              margin-left: 3rem;
            }
          }
          a {
            color: $blue-dark;
            font-size: 11px;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
            @media (min-width: 992px) {
              font-size: 13px;
            }
          }
        }
      }
    }
  }

  .sfn-social__media {
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}