.sfn-title-main {
  display: flex;
  align-items: center;
  padding: 0.75rem 0;
  margin: 0 0 1.25rem 0;
  border-top: 1px solid $blue-lightest;
  border-bottom: 1px solid $blue-lightest;
  overflow-x: hidden;
  > em {
    font-style: normal;
    width: 52px;
    height: 52px;
    background: $blue-light;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -0.75rem 0;
  }
  h3 {
    margin: 0;
    padding-left: 1rem;
    top: 5px;
    position: relative;
    @media (min-width: 992px) {
      width: calc(100% - 52px);
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.sfn-title-long {
  padding: 1.15rem 0;
  margin: 0 0 2rem 0;
  border-top: 1px solid $blue-lightest;
  border-bottom: 1px solid $blue-lightest;
  overflow-x: hidden;
  position: relative;
  @media (min-width: 992px) {
    padding: 0.75rem 0;
    min-height: 83px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: 66px;
    background: $blue-light;
    z-index: 1;
    @media (min-width: 992px) {
      width: 83px;
    }
  }
  h1, h2 {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  h1 {
    margin: 0;
    font-weight: bold;
    color: black;
    position: relative;
    display: flex;
    align-items: center;
    top: 4px;
    left: 22px;
    z-index: 2;
    img {
      margin-right: 1.25em;
      position: relative;
      top: -4px;
    }
    @media (min-width: 992px) {
      top: 7px;
      position: relative;
      left: 25px;
    }
  }

  &--medium {
    min-height: 62px;
    padding: 0.35rem 0;
    &:before {
      width: 62px;
      height: 62px;
    }
    h2 {
      position: relative;
      z-index: 2;
      top: 14px;
      left: 23px;
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 32px;
        top: 8px;
      }
    }
  }

  &--small {
    min-height: 22px;
    padding: 0.75rem 0; 
    @media (min-width: 992px) {
      padding: 0.512rem;
    }
    &:before {
      width: 62px;
      height: 62px;
      @media (min-width: 992px) {
        width: 52px;
        height: 52px;
      }
    }
    h2 {
      position: relative;
      z-index: 2;
      top: 8px;
      left: 18px;
      font-size: 26px;
      @media (min-width: 992px) {
        font-size: 24px;
      }
    }
  }
}

.sfn-title-middle {
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background: $blue-lightest;
    z-index: 1;
  }
  h1 {
    position: relative;
    z-index: 2;
    top: 6px;
    &:before {
      content: '';
      position: absolute;
      top: -5px;
      bottom: 0px;
      left: -30px;
      right: -30px;
      background: white;
      z-index: -1;
    }
  }
}


// Page title
.sfn-page-title {
  text-align: center;
  padding-bottom: 0.5rem;
  @media (min-width: 992px) {
    text-align: left;
  }
  @media (max-width: 991px) {
    h1 {
      font-size: 36px;
    }
  }
}