.sfn-meta {
  &__holder {
    display: flex;
    align-items: center;
    margin-bottom: 0.75rem;
    > * {
      position: relative;
      + * {
        margin-left: 0.5rem;
        padding-left: 0.5rem;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          height: 15px; 
          width: 1px;
          background: $grey;
        }
      }
    }
    @media (min-width: 992px) {
     > * {
       + * {
        margin-left: 1.25rem;
        padding-left: 1.25rem;
       }
     } 
    }
  }
  &__date {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.05em;
    text-decoration: none;
    @media (min-width: 992px) {
      font-size: 14px;
    }
  }

  &__badge {
    a {
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;
      background: $blue-light;
      border: 1px solid $blue-lightest;
      padding: 0.2rem 0.5rem;
      letter-spacing: 0.15em;
      transition: background .3s ease-in-out;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      color: $primary;
      text-decoration: none;
      &:hover {
        background: $blue-lightest;
      }
    }
  }

  &__time {
    font-size: 11px;
    font-weight: 600;
    color: $grey-mid;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    &--short {
      i {
        display: none;
      }
    }
    i {
      font-style: normal;
    }
    span {
      font-weight: 400;
    }
    img {
      margin-right: 7px;
      width: 25px;
      position: relative;
      top: -1px;
      display: none;
    }
    @media (min-width: 992px) {
      font-size: 14px;
      img {
        display: inline-block;
      }
    }
  }

  &__author {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 0;
    a {
      color: $primary;
      text-decoration: none;
      transition: color .2s ease-in-out;
      &:hover {
        color: darken($primary, 15);
      }
    }
    img {
      width: 26px;
      margin-right: 7px;
      border-radius: 50%;
    }
    > span {
      margin-left: 4px;
    }
    @media (min-width: 992px) {
      font-size: 14px;
    }
  }

  &__term {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.1em;
    a {
      color: $primary;
      text-decoration: none;
      transition: color .2s ease-in-out;
      &:hover {
        color: darken($primary, 15);
      }
    }
  }

  &__location {
    font-size: 14px;
    font-weight: 500;
    img {
      width: 15px;
      margin-right: 3px;
    }
    a {
      color: $grey-mid;
      text-decoration: none;
      transition: opacity .2s ease-in-out;
      &:hover {
        opacity: 0.75;
      }
    }
  }
}