.modal {
  &-newsletter {
    .modal-content {
      border: none;
      background: $black;
    }
    .modal-body {
      padding: 2rem;
    }
  }
}

.sfn-newsletter-modal {
  &__title {
    display: flex;
    margin-bottom: 1rem;
    h3 {
      margin: 0 0 0 1.25rem;
      font-size: 16px;
      font-weight: 700;
      color: white;
    }
  }
  &__content {
    margin-bottom: 1.5rem;
    p {
      color: white;
      font-size: 13px;
      margin-bottom: 0;
    }
  }
  &__form {
    form {
      position: relative;
      height: 40px;
      input[type="email"] {
        width: 100%;
        background: none;
        border: 1px solid white;
        border-radius: 6px;
        height: 100%;
        min-height: auto;
        padding: 0 9rem 0 1rem;
        color: white;
      }
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background: white;
        border: none;
        border-radius: 6px;
        padding: 0.5rem 1.5rem;
        font-size: 15px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }
  }
}