.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  font-family: 'Poppins', sans-serif;
  li {
    + li {
      margin-left: -1px;
    }
    a {
      display: block;
      background: white;
      color: $primary;
      transition: background .2s ease, color .2s ease;
      width: 38px;
      height: 38px;
      border: 1px solid $blue-lightest;
      text-align: center;
      line-height: 38px;
      text-decoration: none;
      font-size: 12px;
      font-weight: bold;
      &:hover {
        background: $blue-light;
        color: $blue-dark;
      }
    }
    &.active {
      a {
        background: $blue-light;
        color: $blue-dark;
      }
    }
    &.inactive {
      a {
        opacity: 0.6;
        &:hover {
          opacity: 0.6 !important;
        }
      }
    }
    &.pagination-nav {
      display: flex;
      align-items: center;
      a {
        width: auto;
        height: auto;
        border: none;
        color: $primary;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.1em;
        text-decoration: underline;
        text-transform: uppercase;
        position: relative;
        transition: opacity .2s ease;
        &:after,
        &:before {
          content: '';
          display: inline-block;
          width: 15px;
          height: 11px;
          background-image: url('../assets/images/icons/pagination-arrow-left.svg');
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 15px;
          position: relative;
          top: 1px;
        }
        &:before {
          margin-right: 0.75rem;
        }
        &:after {
          margin-left: 0.5rem;
          background-image: url('../assets/images/icons/pagination-arrow-right.svg');
        }
        &:hover {
          background: none;
          opacity: 0.8;
        }
      }
      &:first-child {
        margin-right: 1.5rem;
        a {
          &:after {
            display: none;
          }
        }
      }
      &:last-child {
        margin-left: 1.5rem;
        a {
          &:before {
            display: none;
          }
        }
      }
    }
  }
}