// Separator
.sfn-separator {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid $grey-medium;
}

.sfn-counter {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: $grey-mid;
  span {
    font-weight: bold;
    color: $black;
  }
}

.has-spacing-bottom {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 5px;
    right: 5px;
    height: 1px;
    background: $blue-lightest;
  }
  &-small {
    margin-bottom: 1.25rem;
    padding-bottom: 1.25rem;
  }
  @media (min-width: 992px) {
    padding-bottom: 0;
    &:before {
      display: none;
    }
  }
}

.sfn-border-bottom {
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid $blue-lightest;
}

.sfn-category-articles {
  &__inner {
    @media (min-width: 1368px) {
      padding-right: 26%;
    }
  }
}

.sfn-row-offset {
  display: flex;
  position: relative;
  min-height: 350px;
  // flex-wrap: wrap;
  > div {
    &:nth-child(1) {
      width: 450px;
      position: absolute;
      left: -260px;
    }
    &:nth-child(2) {
      margin-left: 220px;
    }
  }
}

// List navigation
@media only screen and (max-width: 991px) {
  .sfn-mobile-separator {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid $grey-medium;
  }
}


@media only screen and (min-width: 992px) {
  .sfn-list-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}